@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($color, $bg-color, $hover-color) {
  color: $color;
  background-color: $bg-color;
  border: none;
  padding: $spacer-half $spacer;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-color;
  }
}

@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
